* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

header img {
    width: 12vw;
}

header div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div nav {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header li {
    font-size: 22px;
    color: #005BD5;
    font-weight: 600;
    cursor: pointer;
}

.botaoAzul {
    font-size: 18px;
    font-weight: 600;
    width: 10vw;
    height: 4.5vh;
    letter-spacing: 3px;
    background-color: #005BD5;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.primeiraSection {
    height: 70vh;
    background-image: url("./Assets/fundo-section-1.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

.primeiraSection div {
    width: 27%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 10vh 7vw;
}

.primeiraSection h2 {
    font-size: 65px;
    color: #005BD5;
    font-weight: 600;
}

.primeiraSection input {
    width: 80%;
    height: 5vh;
    padding-left: 20px;
    border-radius: 25px;
}

.sectionsViagensModelo {
    height: 60vh;
    width: 100%;
    display: flex;
}

.sectionsViagensModelo div {
    width: 50%;
}

.casalComBaloes {
    background-image: url("./Assets/casalComBaloes.png");
    background-size: cover;
}

.divInfoAzul {
    background: linear-gradient(180deg, rgba(0,91,213,1) 35%, rgba(0,46,107,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divInfoAzul div {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divInfoAzul h2 {
    color: #FFF;
    font-size: 65px;
    font-weight: 600;
}

.divInfoAzul p {
    color: #FFF;
    font-size: 25px;
}

.divInfoAzul button {
    background: none;
    border: solid #FFF 1px;
}

.divInfoAzul button:hover {
    background-color: #8b8b8b48;
}

.amigosNaMontanha {
    background-image: url("./Assets/amigosNaMontanha.png");
    background-size: cover;   
}

.amigosNaPraia {
    background-image: url("./Assets/amigosNaPraia.png");
    background-size: cover;     
}

.divInfoBranca {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divInfoBranca div {
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divInfoBranca h2 {
    color: #005BD5;
    font-size: 65px;
    font-weight: 600;

}

.divInfoBranca p {
    color: #005BD5;
    font-size: 25px;
}

.divInfoBranca button {
    color: #005BD5;
    background: none;
    border: solid #005BD5 1px;
}

.cidades {
    height: 50vh;
    display: flex;
}

.cidades div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cidades p {
    color: #FFF;
    font-size: 25px;
    letter-spacing: 4px;
    border: solid 1px #FFF;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    border-radius: 30px;
    backdrop-filter: blur(60px);
}

.rioDeJaneiro {
    background-image: url("./Assets/rioDeJaneiro.png");
    background-size: cover;
}

.rioDasOstras {
    background-image: url("./Assets/rioDasOstras.png");
    background-size: cover;
}

.caldasNovas {
    background-image: url("./Assets/caldasNovas.png");
    background-size: cover;
}

.amazonia {
    background-image: url("./Assets/amazonia.png");
    background-size: cover;
}

.muralExperiencias {
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.muralTitulo {
    color: #8B8B8B;
    text-align: center;
    font-weight: 600;
    width: 35%;
}

.muralTitulo p {
    font-size: 35px;
}

.muralTitulo h2 {
    font-size: 60px;
}

.muralImagens {
    width: 65%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.muralImagens div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.muralCards {
    width: 65%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
}

.muralCards figure {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.muralCards img {
    width: 7vw;
    height: 14vh;
}

.muralCards figcaption {
    text-align: center;
    width: 80%;
    height: 10vh;
}

.cardCinza {
    background-color: #EEEEEE;
    color: #005BD5;
}

.cardAzul {
    background-color: #005BD5;
    color: #FFFFFF;
}

.cardCinza figcaption {
    width: 50%;
}

.form {
    height: 72vh;
    background-color: #005BD5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form form {
    width: 38%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #AFB3B8;
}

.form h2 {
    font-size: 60px;
    color: #FFFFFF;
}

.form input {
    width: 88%;
    height: 6vh;
    border-radius: 50px;
    padding: 20px;
    font-size: 18px;
}

.form textarea {
    width: 88%;
    height: 15vh;
    border-radius: 30px;  
    padding: 20px 20px;  
    font-size: 18px;
}

.form button {
    background: none;
    border: solid #FFF 1.5px;
    border-radius: 50px;
    height: 6vh;
}

.form button:hover {
    background-color: #8b8b8b48;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

footer div {
    width: 13%;
    height: 30vh;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #005BD5;
    font-weight: 600;
}

footer h3 {
    font-size: 40px;
}

footer img {
    width: 100%;
}

footer a {
    color: #005BD5;
}
